<h1> {{title}}</h1>

<div class="flex-container">
    <img src="/assets/img/hamburger.jpg" alt="">



    <h3>Hot and Fresh</h3>
    {{#each burgers}}
    {{#unless devoured}}
    <div>
        {{id}}. {{burger_name}}

        <button class="devourBtn" data-id="{{id}}" data-devoured="1">Eat</button>
    </div>
    {{/unless}}
    {{/each}}

    <hr>

    <h3>Devoured</h3>
    {{#each burgers}}
    {{#if devoured}}
    <div>
        {{id}}. {{burger_name}}

        <button class="devourBtn" data-id="{{id}}" data-devoured="0">Order Again</button>
    </div>
    {{/if}}
    {{/each}}

<hr>


<h2>Create a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    {{!-- <input type="radio" name="burger" value="1" checked> Put on Menu!<br> --}}
    {{!-- <input type="radio" name="burger" value="0"> Devour --}}
  {{!-- </div> --}}

  <button type="submit">Put Burger on Menu</button>
</form>
</div>
<hr>
<footer>
      
  <h3>  Remember to eat more Hamburgers <h3>
</footer>